# 忽略 Gradle 相关文件
.gradle/
gradle/
!gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
settings.gradle

# 忽略 IDE 相关文件
.idea/
.vscode/

# 忽略编译输出
/build/
!build/libs/
!build/libs/*.jar

# 只保留 Java 源代码
*.class
*.log
*.tmp
*.swp
*.swo
*.bak

# 只允许 src 目录下的 Java 文件
!src/main/java/**/*.java
!src/test/java/**/*.java
